.piece {
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 100px;
    height: 100px;
    img {
        position: absolute;
        inset: 0;
        z-index: -1;
    }
    &.is-hidden {
        opacity: 0;
        cursor: default;
        visibility: hidden;
        pointer-events: none;
    }
}